<footer class="site-footer">

    <div align="center" style="line-height: 80pt; display: none">
      <span>
        <a href="http://www.hku.hk/">
        <img src="{{site.baseurl}}/assets/logo.jpg" height="100" />
        </a>
      </span>
      <span style="margin-left: 20pt">
        <a href="http://www.hku.hk/">
        <img src="{{site.baseurl}}/assets/logo.jpg" height="100" />
        </a>
      </span>
      <span style="margin-left: 20pt">
        <a href="http://www.hku.hk/">
        <img src="{{site.baseurl}}/assets/logo.jpg" height="100" />
        </a>
      </span>
      <span style="margin-left: 20pt">
        <a href="http://www.hku.hk/">
        <img src="{{site.baseurl}}/assets/logo.jpg" height="100" />
        </a>
      </span>
    </div>

</footer>

