<footer class="site-footer">

    <div align="center" style="line-height: 80pt">
      <span>
        <a href="http://www.sigops.org/">
        <img src="{{site.baseurl}}/assets/acm-sigops.png" height="60" />
        </a>
      </span>
      <span style="margin-left: 20pt">
        <a href="http://www.cs.hku.hk/">
        <img src="{{site.baseurl}}/assets/hku_logo.png" height="60" />
        </a>
      </span>
      <span style="margin-left: 20pt">
        <a href="http://www.astri.org/">
        <img src="{{site.baseurl}}/assets/astri_logo.png" height="80" />
        </a>
      </span>
      <span style="margin-left: 20pt">
        <a href="http://www.huawei.com/">
        <img src="{{site.baseurl}}/assets/huawei.png" height="40" />
        </a>
      </span>
      <span style="margin-left: 20pt">
        <img src="{{site.baseurl}}/assets/TIN_logo.png" height="80" />
      </span>
    </div>

</footer>

